<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
   <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="canonical" href="http://ideava.com/" /> 

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter37152085 = new Ya.Metrika({
                    id:37152085,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/37152085" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<script type="text/javascript">
(function(e, t) {
    function r(e, t) {
        e[t] = function() {
            e.push([ t ].concat(Array.prototype.slice.call(arguments, 0)));
        };
    }
    var n = "JacoRecorder";
    (function(e, t, i, s) {
        if (!i.__VERSION) {
            e[n] = i;
            var o = [ "init", "identify", "startRecording", "stopRecording", "removeUserTracking", "setUserInfo" ];
            for (var u = 0; u < o.length; u++) r(i, o[u]);
            i.__VERSION = .9, i.__INIT_TIME = 1 * new Date;
            var a = t.createElement("script");
            a.async = !0, a.setAttribute("crossorigin", "anonymous"), a.src = s;
            var f = t.getElementsByTagName("head")[0];
            f.appendChild(a);
        }
    })(e, t, e[n] || [], "//recorder-assets.getjaco.com/recorder.js");
}).call(window, window, document), window.JacoRecorder.push([ "init", "96f159c8-3fd3-4c4a-928e-30c3ec79ea2f", {} ]);
</script>

<SCRIPT LANGUAGE="Javascript">

function setCookie(name, value, expire) {
	strCookie = name + "=" + escape(value);
	if (expire) strCookie += ";
	expires=" + expire.toGMTString();
	document.cookie = strCookie;
}

function getCookie(Name) {
var search = Name + "="
if (document.cookie.length > 0) {
	// if there are any cookies
	offset = document.cookie.indexOf(search)
	if (offset != -1) {
		// if cookie exists
		offset += search.length
		// set index of beginning of value
		end = document.cookie.indexOf(";", offset)
		// set index of end of cookie value
		if (end == -1) end = document.cookie.length;
                return unescape(document.cookie.substring(offset, end))
            }
        }
    }

var temp = getCookie('refreshed');
if(temp!=1){
	setCookie('refreshed', 1);
	document.write("<meta http-equiv="refresh" content="0;URL='http://ideava.com/'" />");
}
// End hiding -->
</script>









    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    
</head>
